.nav {
    padding: 5px;
    background-color: rgb(217, 139, 65);
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}

.nav__buttons>li {
    list-style: none;
    font-weight: 800;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: auto;
}

.nav__link:visited {
    color: rgb(49, 42, 42);
    font-weight: 300;
}

.nav__link:focus {
    outline: 2px solid rgb(0, 0, 0);
}

.nav__link:hover {
    border-bottom: 1px solid;
    border-top: 1px solid;
    outline: none;
}

.nav__link:active {
    background-color: rgb(240, 181, 83);
}